
#== Directories ==
/.metadata/
.vscode/
ZTurnPlatform/export/
Synth_system/Debug/

#== File Types ==
#reports
*.log
#metadata
#hardwarefiles
*.bit
*.xsa
#output files
*.elf
*.size
*.d
#objectfiles
*.o
*.a

#== Files ==
.analytics

*.checksum
