
#== Directories ==
/.metadata/
.vscode/

#== File Types ==
#reports
*.log
#metadata
#hardwarefiles
*.bit
*.xsa
#output files
*.elf
*.size
*.d
#objectfiles
*.o
*.a

#== Files ==
.analytics

Synth_system/Debug/.Xil/xsa.xml

*.checksum
